%div#page
    = form_for @croon do |c|
        %p
            = c.label :phone_number
            = c.phone_field :phone_number
            = error_messages(c.object.errors[:phone_number])
        %p
            = label_tag "Pick a Song!"
            = select("croon", "song_url", @songs_for_select)
        = c.submit 'Croon!'
    %table#croons
        %thead
            %tr
                %th Play
                %th Song Title
                %th Star
                %th Votes
        %tbody
            - @croons.each do |croon|
                %tr
                    %td= link_to :listen, :action => :listen, :id => 1
                    %td= croon.song.title
                    %td= croon.crooner
                    %td= croon.vote_count