.instructions.span-24
  = form_for @croon do |f|
    .span-6.prepend-1.colborder
      = fields_for "croon[song_attributes]", @croon.song do |song_form|
        = song_form.label :id, "1. Select a Song"
        %br
        = song_form.select :id, song_select_options(@songs)
    .span-8.colborder
      = f.label :phone_number, "2. Tell us where to call you"
      %br
      = f.phone_field :phone_number, :size => 10
      =# error_messages(f.object.errors[:phone_number])
    .span-6.append-1.last
      %span 3. Croon!
      %br
      = f.submit 'Get Your Croon On'

%h2.list Most Popular
.prepend-6.span-12.append-6
  %table#croons
    %tbody
      - @croons.each do |croon|
        = render :partial => "player", :locals => {:croon => croon}
