%div#page
    = form_for @croon do |f|
        %p
            = f.label :phone_number
            = f.phone_field :phone_number
            = error_messages(f.object.errors[:phone_number])
        %p
            = fields_for "croon[song_attributes]", @croon.song do |song_form|
                = song_form.label :id, "Pick a Song!"
                = song_form.select :id, song_select_options(@songs)
        = f.submit 'Croon!'
    %table#croons
        %thead
            %tr
                %th Play
                %th Song Title
                %th Star
                %th Votes
        %tbody
            - @croons.each do |croon|
                %tr
                    %td= link_to :listen, :action => :listen, :id => 1
                    %td= croon.song.try(:title)
                    %td= croon.crooner
                    %td= croon.vote_count