%div
    #status= display_status(@croon)
    %br
    - if @croon.recording_filename
        .prepend-6.span-12.append-6
            %table#croons
                %tbody
                    = render :partial => "player", :locals => {:croon => @croon}
    - elsif @croon.crooner.blank? && !@croon.hangup
        - form_for @croon do |f|
            = f.label :crooner, "When you are finished singing, enter your name or alias:"
            %br
            = f.text_field :crooner
            = f.submit "Finish!"
    -elsif !@croon.hangup
        = form_tag({:action => :show, :id => @croon.id}, {:method => :get}) do
            = label_tag :crooner, "Click here when you are finished singing: "
            = submit_tag "Finish!"
        OR
    = button_to "Try Again", croons_url, :method => :get
    %br
    %h2.lyrics= "Lyrics to #{@croon.song.title}"
    %pre.lyrics= @croon.song.lyrics